@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* --- Nav --- */
.navbar {
  max-width: auto;
  margin: 0 auto;
  border-bottom: .5px solid #bebbb9;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8e2dc;
}

li a {
  display: block;
  color: #73675c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #b8803f
}

/* --- index --- */

.index-container {
  text-align: center;
}

.index-title {
  font-size: 36px;
  margin: 48px 0 16px 0;
}

.index-paragraph{
  width: 600px;
  margin: auto;
  font-size: 18px;
  margin-bottom: 36px;
}

.index-photo {
  display: block;
  margin: auto;
  border-radius: 8px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 36px;
  border: 1.75px solid #73675c;
  border-radius: 8px;
  color: #4a4139;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover {
  color: white;
  background-color: #73675c; 
}

/* --- form --- */

.form {
  margin: 50px auto;
  padding: 35px 0;
  border: 1.75px solid #827467;
  border-radius: 8px;
  width: 700px;
  background-color: white;
  
}

canvas {
  border: 0px solid black;
  margin: 0 5px;
}

#report {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.input {
  margin-left: 100px;
  margin-bottom: 50px;
  text-align: left;
}

.report-container {
  min-width: 200px;
}

/* --- report --- */
.container, 
.title, 
.title-text, 
.range-questions-container > h2,
div > h1 {
  text-align: center;
}

.report-input-container{
  text-align: center;
  min-width: 300px;

}
.report-input {
  text-align: left;
  margin-bottom: 50px;
  margin-left: 40px;
  padding: 0 25px 25px 25px;
  border: 1px solid black;
  border-radius: 8px;
}

.title, 
.range-questions-container > h2 {
  margin-top: 0;
}

.question, .range-question {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.left, .range-left {
  text-align: right;
}

.range-right {
  padding-left: 20px;
}

.range-left {
  padding-right: 20px;
}
.right, .range-right {
  text-align: left;
}

#infoBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

#infoBox > div {
  display: flex;
  margin: 0.5em .5em; 
}

a {
  text-decoration: none;
}

.favorite-color-container, 
.radio-question-container,
.text-container {
  margin: 36px 0;
}

.container-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.input {
  text-align: center;
  margin: 0 auto;
}

input[type="range"]::-moz-range-progress {
  background-color: #827467; 
}

input[type="range"]::-moz-range-track {  
  background-color: #eac295
}