canvas {
  border: 0px solid black;
  margin: 0 5px;
}

#report {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
}

.input {
  margin-left: 100px;
  margin-bottom: 50px;
}
div > h1 {
  text-align: center;
}

.question {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.range-questions-container > h2 {
  text-align: center;
}
.left {
  text-align: right;
}

#infoBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#infoBox > div {
  display: flex;
  margin: 0.5em .5em; 
}