canvas {
  border: 0px solid black;
  margin: 0 5px;
}


#report {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input {
  margin-left: 100px;
  margin-bottom: 50px;
  text-align: left;
}

.container, 
.title, 
.title-text, 
.range-questions-container > h2,
div > h1 {
  text-align: center;
}

.question, .range-question {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.left, .range-left {
  text-align: right;
}

.right, .range-right {
  text-align: left;
}

.btns {
  display: flex;
  justify-content: center;
}

#infoBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#infoBox > div {
  display: flex;
  margin: 0.5em .5em; 
}

a {
  text-decoration: none;
}
